/* General Styles */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 10px;
}

/* Hero Section */
.first-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 70%;
}

.hero-section {
  display: flex;
  align-items: center;
  background-color: #b2deff;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  height: 40%;
  max-width: 1500px;
  justify-content: center;
  margin-top: 30px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-family: Dancing Script;
}

.hero-image {
  height: 240px;
  width: 300px;
  border-radius: 20px;
}
.side-button {
  background: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  margin-top: 10px;
  transition: background 0.3s;
}

button {
  background: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 10px;
  transition: background 0.3s;
}

.arrow {
  margin-left: 5px;
  display: inline-block;
  color: rgb(0, 0, 0);
  background-color: white;
  transition: transform 0.3s ease-in-out;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  /* padding: 5px; */
}

button:hover {
  background: #333;
}

button:hover .arrow {
  transform: rotate(360deg);
}

/* Side Card */
.side-card {
  background-image: url(https://5.imimg.com/data5/ANDROID/Default/2022/5/NM/SU/CU/8672870/prod-20220531-001027782855888971152526-jpg.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 60%;
  max-width: 900px;
  height: 265px;
  border-radius: 20px;
  margin-top: 30px;
}
.side-content h1 {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 3px;
  font-family: Dancing Script;
}

.side-content {
  margin: 20px;
}

/* Products Section */
.products-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 90%;
  max-width: 900px;
  margin-top: 30px;
}

.products-section h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Dancing Script;
}

/* تعديل المنتجات لتكون جنب بعض */
.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 1100px;
}

/* تعديل حجم الكروت وجعلها دائرية */
.product-card {
  width: 140px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: border 0.3s ease;
  position: relative;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border-radius: 2px solid white;
}

.product-card p {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  width: 100%;
}

.product-card:hover {
  border: 2px solid orange;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .side-card {
    display: none;
  }
  .hero-section {
    width: 100%;
  }
  .hero-content h1 {
    font-size: 20px;
  }
  .hero-content h4{
    font-size: 13px;
  }
  .hero-content p{
    font-size: 11px;
  }

    .products-section {
    width: 900px;
  }
  .products-grid {
    width: 600px;
  }
}

@media screen and (max-width: 767px) {
  .side-card {
    width: 90%;
  }
  .hero-section {
    display: none;
  }
  .first-section {
    /* width: 70%;
    justify-content: center;
    align-items: center; */
    /* display: none; */
  }
  .first-sec-image {
    flex: 4;
  }
  .hero-image {
    width: 150px;
    height: 100px;
  }
  .side-content h1 {
    font-size: 25px;
  }
  .products-section{
    display: none;
  }
}
