
<div class="card-container">
  <div class="card-section-two">
    <h1 class="title">NEW Handmade</h1>
    <p class="sub-title">Hundreds of NEW creations added each week to Madeit</p>

    <button class="shop-now-btn arrow">SHOP NOW <span class="arrow2" [class.rotate]="hoverButton">→</span></button>
  </div>

  <div class="card-section-one">
    <img
      src="https://img.freepik.com/premium-photo/man-making-handmade-jewelry-boxes-with-beads-accessories-needlework-white-wooden-table-handmade-accessories-top-view_155165-3711.jpg?w=960"
      alt="Handmade Accessory"
      class="accessory-img"
    />
  </div>
</div>

