<div class="slider-container" *ngIf="products.length > 0">
  <div
    class="slider"
    [ngStyle]="{ transform: 'translateX(-' + currentIndex * 100 + '%)' }"
  >
    <div class="slide" *ngFor="let product of products; trackBy: trackByFn">
      <div class="card">
        <img [src]="product.image" alt="" />
      </div>
    </div>
  </div>

  <div class="dots">
    <span
      *ngFor="let product of products; let idx = index"
      [class.active]="idx === currentIndex"
      (click)="goToSlide(idx)"
    >
    </span>
  </div>
</div>
<section class="valentines-section">
  <h2>Thoughtful Valentine's Day gifts for every love in your life!</h2>
  <div class="card-container">
    @for (category of categories; track $index) {
      <div class="card-sec2">
        <img
          [src]="'http://localhost:8000/images/categories/' + category.image"
          alt
        />
        <div class="overlay">{{ category.name }}</div>
      </div>
    }
  </div>
</section>
