<div class="trending-container">
  <div class="trending-header">
    <h2 class="trending-title">TRENDING THIS WEEK</h2>
  </div>

  <div class="cards-container" #cardContainer>
    @for (product of products; track $index) {
      <div class="product-card">
        <div class="product-image">
          <img
            [src]="'http://localhost:8000/images/products/' + product.images[0]"
          />
          <mat-icon class="icon">favorite_border</mat-icon>
        </div>
        <div class="product-info">
          <h3 class="product-name product-title">{{ product.title }}</h3>
          <p class="product-price">${{ product.price }}</p>
          <button class="shop-now-btn" (click)="addToCart(product._id)">
            Add To Cart <span>&#8594;</span>
          </button>
        </div>
      </div>
    }
  </div>

  <div class="trending-arrows">
    <button (click)="moveSlide(-2)" class="arrow-btn">&#8592;</button>
    <button (click)="moveSlide(2)" class="arrow-btn">&#8594;</button>
  </div>
</div>
