$content-width: 400px;

section {
  display: flex;
  .start {
    width: $content-width;
    min-height: 100vh;
    padding: 40px;
    background: #fffff0;
    .logo {
      margin-bottom: 40px;
    }
  }
  .end {
    width: calc(100% - $content-width);
    height: 100vh;
    background: rgb(255, 247, 225);
    background-image: url("/images/auth-bg.jpg");
    background-size: cover;
  }

  @media (max-width: 1024px) {
    .start {
      width: 50%;
    }
    .end {
      width: 50%;
    }
  }
  @media (max-width: 650px) {
    .start {
      width: 100%;
    }
    .end {
      display: none;
    }
  }
}
