<header color="primary" class="navbar">
  <div class="left-section">
    <app-logo background="#f2f5fe" />
  </div>

  <div class="center-section">
    <a
      *ngFor="let item of menuItems"
      [routerLink]="item.route"
      [attr.aria-label]="item.label"
    >
      {{ item.label }}
    </a>
    <div class="search-box">
      <input
        type="text"
        placeholder="Search..."
        (keyup)="onSearch($event)"
        class="search-input"
      />
      <mat-icon class="search-icon">search</mat-icon>
    </div>
  </div>

  <div class="right-section">
    <button mat-button class="auth-button" routerLink="/auth/login">
      Login
    </button>
    <button mat-button class="auth-button" routerLink="/auth/sign-up">
      Sign Up
    </button>
    <button mat-icon-button>
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button
      mat-icon-button
      routerLink="/cart"
      [matBadge]="countOfCartItems ? countOfCartItems : undefined"
    >
      <mat-icon fontSet="material-icons-outlined">shopping_cart</mat-icon>
    </button>
    @if (auth.isLoggedIn()) {
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/account">
          <mat-icon fontSet="material-icons-outlined">person</mat-icon> Account
        </button>
        <button mat-menu-item routerLink="/orders">
          <mat-icon>list</mat-icon> Orders
        </button>
        <button mat-menu-item (click)="auth.logout()">
          <mat-icon>logout</mat-icon> Log out
        </button>
      </mat-menu>
    }
  </div>
</header>
