<section class="collection">
  <div class="collection-header">
    <h1 class="section-title">Discounts</h1>
    <button mat-raised-button class="open-store-btn" routerLink="/shop">
      <mat-icon class="cart-icon">shopping_cart</mat-icon> Open Store
    </button>
  </div>

  <div class="cards-container">
    @for (product of products; track $index; let i = $index) {
      <div class="card" [class]="{ 'large-card': i === 0 }">
        @if (product.originalPrice) {
          <div class="discount-badge">
            {{
              (product.price / product.originalPrice - 1) * -100
                | number: "1.0-1"
            }}% Discount
          </div>
        }
        <img
          [src]="'http://localhost:8000/images/products/' + product.images[0]"
          alt
          class="product-image"
        />
        <div class="card-content">
          <h3 class="product-name product-title">{{ product.title }}</h3>
          <p class="product-description">{{ product.category.name }}</p>
          <div class="price-cart">
            <span class="price"
              >{{ product.price }}
              <span>
                Was: <s>${{ product.originalPrice }}</s>
              </span>
            </span>
            <button class="cart-btn" (click)="addToCart(product._id)">
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>
        </div>

        <button class="favorite-btn" (click)="toggleFavorite(i)">
          <mat-icon [style]="{ color: favorites.includes(i) ? 'red' : '#bbb' }">
            {{ favorites.includes(i) ? "favorite" : "favorite_border" }}
          </mat-icon>
        </button>
      </div>
    }
  </div>
</section>
