<section class="collection">
  <h1 class="section-title">Our Collection</h1>
  <div class="cards-container">
    <!--
    <div class="card video-card">
      <video controls>
        <source src="../../assets/video2.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div> -->

    <!-- Product Cards -->
    @for (product of products; track $index; let i = $index) {
      <div class="card">
        <img
          [src]="'http://localhost:8000/images/products/' + product.images[0]"
          alt
          class="product-image"
        />
        <div class="card-content">
          <h3 class="product-name product-title">{{ product.title }}</h3>
          <p class="product-description">{{ product.category.name }}</p>
          <div class="price-cart">
            <span class="price">{{ product.price }}</span>
            <button class="cart-btn" (click)="addToCart(product._id)">
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>
        </div>
        <button class="favorite-btn" (click)="toggleFavorite(i)">
          <mat-icon [style]="{ color: favorites.includes(i) ? 'red' : '#bbb' }">
            {{ favorites.includes(i) ? "favorite" : "favorite_border" }}
          </mat-icon>
        </button>
      </div>
    }
  </div>
</section>
