<section
  appAnimations
  animationClass="animate__fadeInLeft"
  animationDuration=".5s"
>
  <h2>Great, now verify your email</h2>
  <p>
    We've sent a verification code to your email
    <a>yousef26hatem&#64;gmail.com</a>
  </p>
  <form>
    <div>
      <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Enter verification code</mat-label>
        <input matInput required />
      </mat-form-field>
    </div>
    <div>
      <button mat-flat-button>Submit</button>
    </div>
  </form>
</section>
